<div>
    <h1>>> Welcome to Melody !!</h1>
        <div style='width: 600px;margin:auto'>
    <img style='width: 600px' src="https://img.pngio.com/colorful-music-material-music-vector-musical-note-bright-png-and-vector-free-png-colorful-music-notes-650_652.png">
        </div>
</div>