<div class="container">
  <div class="jumbotron">
  <p> Welcome to Melody !! This is a database to assign music instrument and track enrollments with Create, Read, Update and Delete capability.</p>
  <h5> Follow the below guidance to assign the instrument correctly<h4>
  <h6>:: :: As a user you can choose three Levels - Beginner, Intermediate and Experienced</h6>
  <h6>:: :: Ensure to choose the Price and Minimum duration based on the Levels</h6>
  <li>Beginner -> $39 per session -> 16 weeks</li>
  <li>Intermediate -> $49 per session -> 8 weeks</li>
  <li>Experienced -> $79 per session -> 4 weeks</li>
  </div>