<h1><%= @instrument.name %></h1>

Instrument's enrollments
<ul>

    <% @instrument.enrollments.each do |enrollment| %>
        <li><%= enrollment.student %> - <%=number_to_currency(enrollment.price) %></li>
    <% end %>    
</ul>

 <%#= link_to ("Make a new #{instrument.name}",new_instrument_enrollment_path(instrument.id) %>
